extends layout

block content
  h1(class="board-title")= title
  ul(class="messages-list")
    each message in messages
      li 
        span(class="message-text")= message.text
        span(class="message-user")= message.user 
        span(class="message-added")= message.added
  a(href="./new")= "New message"
