extends layout

block content
  h1(class="board-title")= title
  span(class="github-text")="Made with love by "
    a(href="https://github.com/twentysixhugs" target="_blank" rel="noreferrer")= "twentysixhugs :3"
  a(href="./new")
    button(class="new-message-btn")= 'Add new message'
  ul(class="messages-list")
    each message in messages
      li 
        span(class="message-text")= message.text
        span(class="message-user")= message.user 
        span(class="message-added")= message.added